
@{
    ViewBag.Title = "Start";
}

<h2>Wybierz metodę:</h2>
<div>
    Metoda: @Html.ActionLink("Synchroniczna", "Index")
</div>

<div>
    Metoda: @Html.ActionLink("Asynchroniczna", "IndexAsync")
</div>


